
<div class="row" >
  <div class="col-xs-12">
      <app-outer-nav></app-outer-nav>
  </div>
</div>
<div class="row">
 
  <div class="col-lg-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="container">
              <div class="row" style="text-align:center">
                  <h1>LOGIN FORM</h1>
              </div>
              <div class="row" style="text-align:center">
                <div class="col-md-4"></div>
                <div class="col-md-4">

                  <div formGroupName="login">
                  <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" class="form-control" id="username" name="username" formControlName="username" [(ngModel)]="user.username">
                      <div class="help-block" 
                      *ngIf="username.touched && username.invalid">
                          <div *ngIf="username.errors.required" class="alert alert-danger">
                              Username is required.
                          </div>
                          <div *ngIf="username.errors.shouldBeUnique" class="alert alert-danger">
                              This username is not available
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" name="password" formControlName="password" [(ngModel)]="user.password">
                      <div class="help-block" 
                      *ngIf="password.touched && password.invalid">
                          <div *ngIf="password.errors.required" class="alert alert-danger">
                              Password is required.
                          </div>
                          
                      </div>
                    
                  </div>
                  </div>
                  <div class="form-group">
                      <button name="save" type="submit" class="btn btn-primary" [disabled]="form.invalid">
                          LOGIN
                      </button>
                  </div>
                  <div class="alert alert-danger" *ngIf="isNotValidUser">
                          Not a valid user
                  </div>

                </div>
                <div class="col-md-4"></div>

              </div>

          </div>
      </form>
  </div>
</div>

